body{
    background: url(https://c4.wallpaperflare.com/wallpaper/447/169/141/tv-show-ben-10-ben-tennyson-diamondhead-ben-10-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}           
.heading{
    width: 1300px;
    height: 80px;
    margin-left: 380px;
    margin-top: 175px;
    background:orange;
}
.anime{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-display:inherit;
}
.heading h1{
    position: absolute;
    margin-left:580px;
    color: white;
    margin-top: 15px;
    font-size: 50px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1300px;
    height: 800px;
    background: rgba(0, 0, 0, 0.66);
    margin-left: 380px;
}
h2{
    margin-left: 120px;
    margin-top: 50px;
    color: white;
}
.first{
    margin-left: 60px;
}
.firstimage{
   margin-left: 0px;
   margin-top: 40px;
}
.second{
    margin-left: 50px;
}
.secondimage{
    margin-top: 40px;
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 5px 5px 0px 0px;
    margin-left: 20px;
    margin-top: 25px;
}